body {
    background-color: dodgerblue;
}
main {
    padding: 20px;
    background-color:red;
    border: 2px solid;
    
}

#menu li {
    display: inline;
}

    #menu a {
        background-color: black;
        line-height: 2.8em;
        padding: 15px 50px;
        border: 2px solid;


    }
        #menu a:hover {
            background-color: Red;
        }

a {
    color: white;
}
.container {
    border: 2px solid;
    background-color:azure;

}
img {
    height: 200px;
    width: 200px;
    border: 2px solid;
    margin: 10px;


}
img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
h3 {
    padding: 10px;
}
#Back {
    float: right;
}
#Hob {
    float:left;
    margin: 10px;
}

button {
    background-color: darkgrey;
    line-height: 2.8em;
    padding: 15px 30px;
}

#Sem1 {
    margin: 10px;
    float: left;
}
#Sem2 {
    float: right;
}
.container-fluid{
    border: 2px solid;
    background-color: azure;
}
td th{
    text-align: center;
}

table {
    width: 60%;
    align-self: center;
}



